.slider-container {
    width: 1160px;
    height: 346px;
    position: relative;
    overflow: hidden;
    margin: 0 auto;
    border-radius: 10px; /* Добавляем скругление углов */
    margin-top: 24px;
    
  }
  
  .slider-wrapper {
    display: flex;
    transition: transform 0.5s ease-in-out;
  }
  
  .slide {
    min-width: 100%;
    box-sizing: border-box;
  }
  
  .slider-image {
    width: 100%;
    height: 346px;
    object-fit: cover;
    border-radius: 10px; /* Скругление для изображения */
  }
  
  .slider-dots-container {
    display: flex;
    justify-content: center;
    margin-top: 10px; /* Отступ сверху для расположения под слайдером */
    position: fixed;
    left:50%;
    z-index: 10
  }
  
  .slider-dots {
    display: flex;
    gap: 10px;
  }
  
  .slider-dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #ccc; /* Цвет неактивного кружка */
    cursor: pointer;
  }
  
  .slider-dot.active {
    background-color: #000; /* Цвет активного кружка */
  }
  

  @media (max-width: 768px) {
    .slider-container {
      display: none; /* Скрываем слайдер на экранах с шириной менее 768px */
    }
  }