.menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
    background-color: #fff;
    width: 1160px;
  }
  
  .menu__logo {
    margin-right: 38px;
  }
  
  .menu__logo img {
    height: 40px;
  }
  
  .menu__links {
    display: flex;
    align-items: center;
    width: 743px; /* Ширина для ссылок */
    justify-content: space-between;
    transition: transform 0.3s ease-out, opacity 0.3s ease-out;
  }
  
  .menu__link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: rgba(147, 149, 184, 1);
  }
  
  .menu__link:first-of-type {
    color: rgba(6, 8, 44, 1);
  }
  
  .menu__link img {
    margin-right: 10px;
  }
  
  .menu__burger {
    display: none;
    cursor: pointer;
  }
  
  .menu__links--open {
    transform: translateX(0);
    opacity: 1;
  }
  
  .menu__close-button {
    display: none;
  }
  
  .menu__extras-container {
    display: flex;
    align-items: center;
    margin-left: auto;
  }
  
  .menu__extras {
    display: flex;
    align-items: center;
  }
  
  .menu__extra {
    display: flex;
    align-items: center;
    margin-left: 24px;
    text-decoration: none;
    color: #333;
  }
  
  .menu__extra img {
    margin-right: 5px;
  }
  
  .menu__language {
    display: flex;
    align-items: center;
    cursor: pointer;
    position: relative;
    margin-left: 40px; /* Увеличение отступа между Live и языком */
  }
  
  .menu__language img:first-of-type {
    width: 20px;
    height: auto;
    margin-right: 5px; /* Добавлен отступ справа от флага */
  }
  
  .menu__language img:last-of-type {
    margin-left: 10px; /* Увеличен отступ слева от стрелки */
  }
  
  .menu__language span {
    flex-shrink: 0; /* Предотвращение изменения размера текста */
  }
  
  .menu__language-dropdown {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    border: 1px solid #eaeaea;
    z-index: 10;
    width: max-content;
    display: none; /* Скрытие списка по умолчанию */
  }
  
  .menu__language--open .menu__language-dropdown {
    display: block; /* Отображение списка при открытии */
  }
  
  .menu__language-option {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    text-decoration: none;
    color: #333;
    white-space: nowrap;
  }
  
  .menu__language-option img {
    margin-right: 10px;
    width: 20px;
    height: auto;
  }
  
  .menu__language-option:hover {
    background-color: #f0f0f0;
  }
  
  @media (max-width: 768px) {
    .menu__links {
      display: none;
      flex-direction: column;
      position: fixed;
      top: 0;
      right: 0;
      width: 80%;
      height: 100%;
      background-color: #fff;
      transform: translateX(100%);
      padding: 20px;
      box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
      transition: transform 0.3s ease-out, opacity 0.3s ease-out;
      opacity: 0;
    }
  
    .menu__links--open {
      display: flex;
      transform: translateX(0);
      opacity: 1;
    }
  
    .menu__link {
      margin-bottom: 20px;
    }
  
    .menu__close-button {
      display: block;
      margin-bottom: 20px;
      background: none;
      border: none;
      cursor: pointer;
      align-self: flex-end;
    }
  
    .menu__close-button img {
      height: 20px;
    }
  
    .menu__burger {
      display: block;
    }
  
    .menu__extras {
      display: none;
    }
  }
  